<%- include('../cabecalho.ejs') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melhorar Elenco</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  
  <form action="" method="post" enctype="multipart/form-data">
    <h1><i class="fas fa-users"></i> Mais Times</h1>
    <label for="nome"><i class="fas fa-tshirt"></i> Clube</label>
    <input type="text" id="nome" name="nome" placeholder="Digite o Clube">
    
    <label for="estadio"><i class="fas fa-landmark"></i> Estádio</label>
    <input type="text" id="estadio" name="estadio" placeholder="Digite o Estádio">

  
    <label for="escudo"> escudo</label>
    <input  type="file" id="escudo" name="escudo" >

    <label for="datafundacao"><i class="fas fa-landmark"></i> Data de fundação</label>
    <input type="text" id="datafundacao" name="datafundacao" placeholder="Digite a data de fundação">
    
    
    
    <button type="submit"><i class="fas fa-plus icon"></i>  Adicionar Time</button>
  </form>
</body>
</html>
